@import '../../Style/Colors.scss';
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 0 3.75rem;
    background-color: $white;
    .mobile_menu_toggler{
        display: none;
        @media (max-width: 1024px) {
            display: block;
        }

    }
}